[Unit]
Description="Simple URL checker service"

[Service]
ExecStart=/path/to/project/.venv/bin/python3 /path/to/project/service.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
